docker/n8n/workflows/relay-faker-email.json
{
  "name": "relay-faker-email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "relay/faker-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "relay-faker-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "relay-faker-email"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst body = root.body ?? root;\nconst data = body.data ?? body;\nconst attachments = data.attachments ?? body.attachments ?? [];\nconst binary = {};\nif (Array.isArray(attachments)) {\n  attachments.forEach((att, index) => {\n    if (!att || !att.content_base64 || !att.filename) return;\n    const key = `attachment_${index}`;\n    binary[key] = {\n      data: att.content_base64,\n      fileName: att.filename,\n      mimeType: att.content_type || 'application/octet-stream',\n    };\n  });\n}\nreturn [{\n  json: {\n    to: data.to ?? body.to ?? '',\n    subject: data.subject ?? body.subject ?? '',\n    body_html: data.body_html ?? body.body_html ?? data.body ?? body.body ?? '',\n    attachment_keys: Object.keys(binary),\n  },\n  binary,\n}];"
      },
      "id": "relay-faker-prepare",
      "name": "Prepare Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body_html }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $json.attachment_keys.join(',') }}"
              }
            ]
          }
        }
      },
      "id": "relay-faker-gmail",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "relay-gmail-placeholder",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "relay-faker-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Attachments": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "relay-faker-email-v4",
  "id": "RelayFakerEmailWorkflow",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
